.home3 {
  width: 100%px;
  height: 100vh;
  background-image: url(../../assets//images//home3background.png);
  background-size: contain;
  opacity: 0.4;
}
#container4 {
  position: absolute;
  top: 2030px;
  left: 50%;

  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page4-text {
  position: absolute;
  top: 2100px;
  left: 35%;

  margin-left: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.works {
  font-size: 40px;
  color: aqua;
}
.works-below {
  margin: 0;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.leftangle {
  position: absolute;
  left: 10%;
  top: 2450px;
  display: flex;
  align-items: center;
  background-color: rgb(20, 18, 18);
  border-radius: 50px;
}
.gallery {
  position: absolute;
  left: 20%;
  top: 2200px;
  width: 800px;
  height: 500px;

  background-image: url("../../assets//images//devices.png");
  background-size: cover;
}
.code-image {
  position: absolute;
  left: 20%;
  top: 2270px;
  width: 265px;
  height: 340px;
  margin-left: 65px;
  background-image: url("../../assets//images/gallery1.jpeg");
  background-size: cover;
}
.code-image1 {
  position: absolute;
  left: 48%;
  top: 2363px;
  width: 365px;
  height: 210px;
  background-image: url("../../assets//images/gallery2.png");
  background-size: cover;
}
@media only screen and (max-width: 1300px) {
  .home3 {
    position: relative;
    top: 700px;
  }
  .gallery {
    display: none;
  }
  .code-image1 {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 900px) {
  .home3 {
    position: relative;
    top: 1000px;
  }
  #container4 {
    top: 3000px;
  }
  .page4-text {
    top: 3100px;
  }
  .code-image {
    top: 3300px;
  }
  .code-image1 {
    position: absolute;
    margin: 0px;
    padding: 0;
    top: 3700px;
    left: 20%;
  }
}
